.userPhotoWrapper {
  width: 100px;
  height: 100px;
}

.userPhoto {
  width: 100%;
  border-radius: 50%;
}

.userItem {
  display: flex;
  margin-bottom: 20px;
  background: rgba(145, 98, 228, .2);
}

.userItem > div:first-child {
  min-width: 156px;
}

.userItem > div:first-child > * {
  margin: 15px;
}

.userItemInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.userItemInfo > div {
  display: flex;
  flex-direction: column;
}

.userItemInfo > div:first-child {
  justify-content: space-around;
}

.userItemInfo > div:last-child {
  justify-content: space-around;
}