.formControl.error input,
.formControl.error textarea {
  border: 1px solid red;
}

.formControl .textError {
  color: red;
}

.loginError {
  color: red;
  margin: 20px 0;
  background: rgba(255, 0, 0, .1);
  padding: 10px 20px;
  transition: all .2s linear;
}

.formGroup {
  margin-bottom: 10px;
}