* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;

  width: 1600px;
  margin: 0 auto;

  grid-template-areas:
    "header header"
    "sidebar content";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-content {
  background: #f8f9fb;
  padding: 15px;
}