* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fb;
}

.app-wrapper {
  display: grid;
  width: 1600px;
  margin: 0 auto;

  grid-template-areas:
    "header header"
    "sidebar content";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-content {
  background: #fff;
  padding: 15px;
}

input, textarea {
  border: 1px solid transparent;
  background-color: #f7f7f7;
  padding: .375rem 1rem;
  border-radius: 1.25rem;
  color: #626c72;
  outline: transparent;
}


input:focus, textarea:focus {
  border: 1px solid #8224e3;
}

input {
  height: 2.5rem;
}

textarea {
  resize: vertical;
}

button {
  background-color: #8224e3;
  background-image: linear-gradient(90deg, #8224e3 0, #a968ec 50%, #8224e3 100%);
  background-size: 200%;
  box-shadow: 0 1px 2px 0 rgba(130, 36, 227, 0.5);
  padding: .5rem 2rem;
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: all .5s;
  outline: none;
}

button:hover {
  background-color: #9c51e9;
  box-shadow: 0 1px 3px 0 rgba(130, 36, 227, 0.5);
  background-position: right center;
  cursor: pointer;
}

button:hover {
  background-color: #9c51e9;
  box-shadow: 0 1px 3px 0 rgba(130, 36, 227, 0.5);
  background-position: right center;
  cursor: pointer;
}

a {
  color: #29292d;
  text-decoration: none;
  transition: all .2s linear;
}